[submodule "souper-star"]
	path = souper-star
	url = https://github.com/FredHutch/souper-star
[submodule "sciCTextract"]
	path = sciCTextract
	url = https://github.com/mfitzgib/sciCTextract
[submodule "concat-ref_align"]
	path = concat-ref_align
	url = https://github.com/jacob-greene/concat-ref_align
	branch = main
